<div id="painel-page-js">

<div class="page-header position-relative">
	<h1>
		Painel
	</h1>
</div><!--/.page-header-->

<div class="row-fluid">
	<div class="span12">
		
		<div class="alert alert-block alert-success">
			<i class="icon-ok green"></i>

			Bem-vindo ao
			<strong class="green">
				gere.me
				<small>(v0.0.1)</small>
			</strong>
			,
				o gestor leve, intuitivo e prático para as suas contas.
		</div>

		<h3 class="header smaller lighter green">Inserção rápida</h3>

		<p style="text-align:center">
			<a href="#" class="btn btn-app no-radius btn-success">
				<i class="icon-plus bigger-230"></i>
				Receita
			</a>

			<a href="#" class="btn btn-app no-radius btn-danger">
				<i class="icon-minus bigger-230"></i>
				Despesa
			</a>

			<a href="#" class="btn btn-app no-radius btn-primary">
				<i class="icon-cog bigger-230"></i>
				Serviço
			</a>

			<a href="#" class="btn btn-app no-radius btn-warning">
				<i class="icon-group bigger-230"></i>
				Cliente
			</a>
		</p>

		<div class="row-fluid" id="insercaorapida-box">
			
		</div>
		
	</div><!--/.span-->
</div><!--/.row-fluid-->


<div class="hr hr32 hr-dotted"></div>

<div class="row-fluid">
	<div class="span12">


		<div class="span6">
			<div class="widget-box transparent" id="recent-box">
				
			</div><!--/widget-box-->
		</div>

		<div class="vspace"></div>

		<div class="span6">
			<div class="widget-box" id="pie-chart-box">
				

			</div><!--/widget-box-->
		</div><!--/span-->

	</div>
</div>
</div>

