<div class="widget-header widget-header-flat widget-header-small">
	<h5>
		<i class="icon-signal"></i>
		Fontes de receita
	</h5>

	<div class="widget-toolbar no-border">
		<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
			Este mes
			<i class="icon-angle-down icon-on-right"></i>
		</button>

		<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
			<li class="active">
				<a href="#">Este mes</a>
			</li>

			<li>
				<a href="#">Último mês</a>
			</li>

			<li>
				<a href="#">Este ano</a>
			</li>

			<li>
				<a href="#">Último ano</a>
			</li>
		</ul>
	</div>
</div>


<div class="widget-body">
	<div class="widget-main">
		<div id="piechart-placeholder">

			<!-- where pie appears -->
		</div>
	</div><!--/widget-main-->
</div><!--/widget-body-->
