<div class="widget-header">
	<h4 class="lighter smaller">
		<i class="icon-rss orange"></i>
		RECENTE
	</h4>
</div>

<div class="widget-body">
	<div class="widget-main padding-4">
		<div class="tab-content padding-8 overflow-visible">
			<div id="receitas-tab-widget" class="tab-pane active">
				<h4 class="smaller lighter green">
					<i class="icon-list"></i>
					Lista de pagamentos por receber
				</h4>

				<ul id="receitas-line" class="contas-line item-list ui-sortable">

					<% lista.each(function(r) { %>
						<li class="item-green clearfix" data-id="<%= r.get('id') %>">
							<label class="inline">
								<input type="checkbox" class="ace">
								<span class="lbl"> <%= r.get('titulo') %> <span style="color:#a6a6a6;"> - <%= parseFloat(r.get('valor')).toFixed(2) %> €</span></span> 
							</label>
							<div class="inline pull-right position-relative">
								<span style="color:#a6a6a6;"><%= r.get('cliente')['nome'] + ', ' + r.get('data_limite') %></span>
							</div>
						</li>

					<% }); %> 
				</ul>
				<p>
					<a href="#receitas" class="btn btn-link btn-block">Ver mais</a>
				</p>
			</div>

		</div>
	</div><!--/widget-main-->
</div><!--/widget-body-->
